.sideButton {
    display: flex;
    margin-top: 20px;
    justify-content: flex-end;
}

.modal{
    padding: 80px;
}

.parent {
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
    height:95%;
}


body{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

.h1Heading {
    text-align: center;
    margin: 20px;
}